{% extends 'homepage.html' %}
{% block content %}
<style>
    li{
        display: inline-block;
        width:345px;
        height: 199px;
    }
    .card-body{
        padding-left: 20px;
    }
</style>

<section class="preview-list"> 
    <div class="card-body">
     <ul>
         <li>
             <!-- <img src="/assets/cover/wooden-bowl-400.webp" srcset="/assets/cover/wooden-bowl-400.webp 400w,/assets/cover/wooden-bowl-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
              <article> <small>JavaScript · <time datetime="2023-10-28">October 28, 2023</time></small>
                 <h3> <a href="/js/s/add-remove-event-listener">Add or remove an event listener in JavaScript</a> </h3>
                  <p>Learn how to add or remove event listeners from elements with ease.</p> 
            </article> 
        </li>
        <li> 
            <!-- <img src="/assets/cover/fruit-feast-400.webp" srcset="/assets/cover/fruit-feast-400.webp 400w,/assets/cover/fruit-feast-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
             <article> <small>JavaScript · <time datetime="2023-11-01">November 1, 2023</time></small>
                 <h3> <a href="/js/s/event-listener-once">How can I listen for an event only once in JavaScript?</a> </h3>
                  <p>Learn how to add an event listener that is executed at most once.</p> </article> 
        </li>
        <li> 
            <!-- <img src="/assets/cover/fruit-feast-400.webp" srcset="/assets/cover/fruit-feast-400.webp 400w,/assets/cover/fruit-feast-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
             <article> <small>JavaScript · <time datetime="2023-11-01">November 1, 2023</time></small>
                 <h3> <a href="/js/s/event-listener-once">How can I listen for an event only once in JavaScript?</a> </h3>
                  <p>Learn how to add an event listener that is executed at most once.</p> </article> 
        </li>
        <li> 
            <!-- <img src="/assets/cover/fruit-feast-400.webp" srcset="/assets/cover/fruit-feast-400.webp 400w,/assets/cover/fruit-feast-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
             <article> <small>JavaScript · <time datetime="2023-11-01">November 1, 2023</time></small>
                 <h3> <a href="/js/s/event-listener-once">How can I listen for an event only once in JavaScript?</a> </h3>
                  <p>Learn how to add an event listener that is executed at most once.</p> </article> 
        </li>
        <li> 
            <!-- <img src="/assets/cover/fruit-feast-400.webp" srcset="/assets/cover/fruit-feast-400.webp 400w,/assets/cover/fruit-feast-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
             <article> <small>JavaScript · <time datetime="2023-11-01">November 1, 2023</time></small>
                 <h3> <a href="/js/s/event-listener-once">How can I listen for an event only once in JavaScript?</a> </h3>
                  <p>Learn how to add an event listener that is executed at most once.</p> </article> 
        </li>
    </ul>
</div></section>

{% endblock %}
