{% extends 'homepage.html' %}
{% block content%}
<div style="padding:40px; margin-left:60px;">
<div class="row">
    <div class="col-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
Code here....<br>
<textarea class="form-control" id="exampleTextarea1" rows="20"></textarea>

          </div>

        </div>
    </div>
    <div class="col-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

Explanation here....
          </div>

        </div>
    </div>
</div>

</div>

{%endblock%}
    
    
    
    
    
    <script>
        function fetchExplanation() {
            // Fetch code from the text area
            var code = document.getElementById('codeTextArea').value;

            // Send a POST request to the Django view
            fetch('/code-explanation/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}',  // Include the CSRF token
                },
                body: 'code=' + encodeURIComponent(code),
            })
            .then(response => response.json())
            .then(data => {
                // Display the explanation result
                document.getElementById('explanationResult').innerHTML = data.explanation;
            });
        }
    </script>
</body>
</html>
