{% extends 'homepage.html' %}
{% block content%}
<div style="padding:40px; margin-left:60px;">
<div class="row">
    <div class="col-5 grid-margin stretch-card">
        <div class="card">
            <form id= "codeForm" action="/explanation/" method="post">
                {% csrf_token %}
          <div class="card-body">

           
Code here....<br>
 <textarea class="form-control" name="code" rows="20" >{{code}}</textarea>

          </div>
          <button type="submit"  id="submit" class="btn btn-outline-secondary ">Submit</button>
          </form>
        </div>
    </div>
    <div class="col-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

Explanation here....
<br>
{% if predictions%}

{{predictions.explanation}}

{%endif%}
          </div>
         
        </div>
    </div>
</div>

</div>

{%endblock%}
    
    
    
    
    
    <script>
        document.getElementById('codeForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        fetchExplanation();
    });
        function fetchExplanation() {
            // Fetch code from the text area
            var code = document.getElementById('codeTextArea').value;
console.log('hii')
            // Send a POST request to the Django view
            fetch('/code-explanation/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}',  // Include the CSRF token
                },
                body: 'code=' + encodeURIComponent(code),
            })
            console.log(response.json())
            .then(response => response.json())
            .then(data => {
                // Display the explanation result
                document.getElementById('explanationResult').innerHTML = data.explanation;
            });
        }
    </script>
</body>
</html>
