{% extends 'homepage.html' %}
{% block content %}
<style>
    li{
        display: inline-block;
        width:345px;
        height: 199px;
    }
    .card-body{
        padding-left: 20px;
    }
</style>

<section class="preview-list"> 
    <div class="card-body">
     <ul>
        {% for snippet in var%}
       
        
        <div class="d-flex flex-row justify-content-between">
         <li>
             <!-- <img src="/assets/cover/wooden-bowl-400.webp" srcset="/assets/cover/wooden-bowl-400.webp 400w,/assets/cover/wooden-bowl-800.webp 800w" alt="" height="180" width="360" loading="lazy"> -->
              <article> <small>{{snippet.language}}· <time datetime="2023-10-28">{{snippet.created_at}}</time></small>
                 <h3> <a href="/snippet_view/{{snippet.id}}">{{snippet.title}}</a> </h3>
                  <p>{{snippet.description}}</p> 
            </article> 
        </li>
       </div>
       

{% endfor %}    </ul>
</div></section>

{% endblock %}
